.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcff;
  }
 
.img{
  position: absolute;
  top: 72%;
  bottom: 38%;
  left: 45%;
  right: 30%;
  height: 48px;
  width: 130px;
}

.status{
  position: absolute;
  top: 45%;
  bottom: 55%;
  left: 20%;
  right: 20%;
  }

.video{
  position: absolute;
  top: 15%;
  bottom: 85%;
  left: 37%;
  right: 20%;
  width: 350px;
  height: 200px;
}

.custom{
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 45%;
  right: 30%;
}

.text{
  font-size: small;
}

.heading {
  position: absolute;
  top: 85%;
  bottom: 15%;
  left: 40%;
  right: 30%;
  font-size: small;
}

.heading::before {
  content: "©";
  color: blue;
}