.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  font-size: xx-large;
  margin-top: 20px;
}

.status {
  color: yellowgreen;
  margin-top: auto;
  margin-bottom: auto;
}
